<div class="ui-container" id="serverSummary" ng-controller="ServerSummaryController" >
	<div class="row">
		<div class="span6 bold-title center">Server Overview</div>
	</div>
	<div class="row">
		<div class="span4">Host Name</div>
		<div class="span12">{{name}}</div>
	</div>

	<div class="row">
		<div class="span4">IP address</div>
		<div class="span12">{{ip}}</div>
	</div>

	<div class="row">
		<div class="span4">Geographical Location</div>
	</div>

	<div class="row">
		<div class="span4">Vendor</div>
	</div>

	<div class="row">
		<div class="span4">Memory</div>
		<div class="span12">{{totalMemory}}</div>
	</div>

	<div class="row">
		<div class="span4">CPU</div>
		<div class="span12">{{totalCPU}}</div>
	</div>

	<div class="row">
		<div class="span4">Device Type</div>
	</div>
</div>
